<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helio.cypher">


    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- For Notifications -->

    -
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    -
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.helio.cypher.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.helio.silentsecret.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.helio.cypher.application.SilentSecretApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.helio.cypher.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helio.cypher.activities.CommentSecretActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.helio.cypher.activities.ActionSecretActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.helio.cypher.activities.SupportActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.helio.cypher.activities.CameraTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helio.cypher.activities.CreateSecretActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.helio.cypher.activities.PrivatePolicyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.helio.cypher.activities.CouponCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name="com.helio.cypher.activities.NotificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.helio.cypher.activities.MySecretsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.helio.cypher.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.RateSchoolActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.MoodActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.ReferFriendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.StatsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.BannerResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.helio.cypher.activities.ChatFriends"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />

        <activity
            android:name="com.helio.cypher.activities.PetAvtarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />


        <activity
            android:name="com.helio.cypher.activities.CallScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />

        <activity
            android:name="com.helio.cypher.activities.AudioCallScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />





        <activity
            android:name="com.helio.cypher.activities.IncomingCallScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />


        <activity
            android:name="com.helio.cypher.activities.ChatDetailsScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />
        <activity
            android:name="com.helio.cypher.activities.CounsellerBooking"
            android:label="@string/title_activity_counseller_booking"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme" />
        <activity
            android:name="com.helio.cypher.activities.LiveCounselling"
            android:label="@string/title_activity_counseller_booking"
            android:screenOrientation="portrait"
            android:theme="@style/ChatFriendsTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>







        <!--<receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>-->
        <!--<receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.helio.silentsecret" />
            </intent-filter>
        </receiver>-->
        <!--<receiver
            android:name=".push.PushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>-->

        <!--<meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="703f0e08d2ea32836d7d915b29ef9d7534dcd224" />

        <!-- For Notifications -->
        <receiver
            android:name="com.helio.cypher.pushnotification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            -
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.helio.silentsecret" />
            </intent-filter>
        </receiver>

        <service android:name="com.helio.cypher.pushnotification.GcmIntentService" />
        <service android:name="com.helio.cypher.Services.BoundService" />
        <service android:name="com.helio.cypher.Services.RefreshFriendList" />
        <service android:name="com.helio.cypher.Services.RefreshPendingFriendList" />

        <service android:name="com.helio.cypher.Services.SinchService"></service>

        <service android:name="com.helio.cypher.Services.NotificationService" android:stopWithTask="false" />


        <receiver android:name="com.helio.cypher.Services.InactiveNotification" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>